* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: cursive;
}

h1 {
    margin: 1em auto;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

footer p {
    cursor: pointer;
}

.container {
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 1em auto !important;
}
.prix {
    text-align: center;
    font-weight: bold;
}

.card img {
    height: 12em;
}
.card-title {
    font-weight: bold;
    text-align: center;
}
.card-text {
    text-align: center;
    height: 4em;
}

.card-maddy {
    padding:  0 1em;
}

.produit {
    display: flex;
    justify-content: space-between;
}

.carte {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carte img {
    height: 12em;
}